In [ ]:
#different ways to read csv file

In [1]:
import pandas as pd

In [5]:
#1 read csv file
df=pd.read_csv("pandaLearn.csv")
df

     Name  age      city
0    John   22   Morocco
1    Rohn   22  Mauriius
2     Joy   22     paris
3    Kali   20   Kolkata
4  Anisha   22   Jodhpur

In [6]:
#2 from excel file
df=pd.read_excel("weatherData.xlsx")
df

         day  temp weather
0 2020-01-01    10  winter
1 2020-05-01    30   rainy
2 2020-06-27    40  summer

In [7]:
#3 df using python dictionary
weather_data={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/5/2017','3/102017','1/12/2018'],
    "temperature":[32,32,43,45,64,34],
    'windspeed':[2,5,7,4,3,8],
    'event':['sunny','snow','rain','windy','snow','rain']
}
df = pd.DataFrame(weather_data)
df

         day  temperature  windspeed  event
0   1/1/2017           32          2  sunny
1   1/2/2017           32          5   snow
2   1/3/2017           43          7   rain
3   1/5/2017           45          4  windy
4   3/102017           64          3   snow
5  1/12/2018           34          8   rain

In [12]:
#4 using tuples
weather_data = [('1/1/2017',32,6,'Rainy'),('1/8/2017',36,6,'summer'),('1/6/2017',37,5,'rainy')]
df = pd.DataFrame(weather_data, columns=["day","temp","windSpeed","event"])
df

        day  temp  windSpeed   event
0  1/1/2017    32          6   Rainy
1  1/8/2017    36          6  summer
2  1/6/2017    37          5   rainy

In [14]:
#5 list of dictionaries
weather_data=[
    {'day':'1/1/2022','temperature':32,'windspeed':6,'event':'Rain'},
     {'day':'1/2/2022','temperature':34,'windspeed':7,'event':'Summer'},
     {'day':'1/3/2022','temperature':35,'windspeed':4,'event':'Winter'}
    
]
df= pd.DataFrames(weather_data)
df

AttributeError: module 'pandas' has no attribute 'DataFrames'